<html>
<head>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link href="~/Assets/Css/header.css" rel="stylesheet"/>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/script.js"></script>
</head>
<body>
    <div class="d-flex">
        <img id="logo" src="~/Assets/Images/logo.png" />
    </div>


    @RenderBody()
</body>
</html>


