<html>
<head>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link href="~/Assets/Css/header.css" rel="stylesheet"/>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/script.js"></script>
</head>
<body>
    <div class="d-flex flex-row">
        <img id="logo" src="~/Assets/Images/logo.png" />
        @if (Session["Username"] == null)
        {
        <div class="d-flex justify-content-end buttons">
            <button type="button" id="btnLogin" class="btn btn-light headerBtn ml-auto p-2 bd-highlight">Login</button>
            <button type="button" id="btnSignup" class="btn btn-warning headerBtn ml-auto p-2 bd-highlight">Sign Up</button>
        </div>
        }
        else
        {
            <label>@Session["Username"]</label>
        }
    </div>


    @RenderBody()
</body>
</html>


