.container{
   
    
}

.switchTab{
    padding-top: 2em;
    padding-bottom:2em;
}

.tabs{
    padding: 0px;
}
.activeNow{
    font-size: 18pt;
}

.inactiveNow{
    font-size: 18pt;
}

.row{
    border: black solid 2px;
    padding-top: 5em;
}

.card{
    border: 2px solid red;
    width: 22em;
    margin-left: 8em;
}

#card1 {
    
}

#card2 {
    
}

