
@{
    Layout = "/Views/Shared/HeaderLogoOnly.cshtml";
}
<link href="~/Assets/Css/stylesheet.css" rel="stylesheet" />

<div class="container switchTab">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-3 tabs">
        <button type="button" id="btnSignUp" class="btn btn-block activeNow">Sign Up</button>
    </div>
    <div class="col-sm-3 tabs">
        <button type="button" id="btnLogIn" class="btn btn-default btn-block inactiveNow">Log In</button>
    </div>
</div>

<!--start login body-->
<div class="container">
    <form class="form-horizontal" action="/action_page.php">
        <div class="form-group">
            <label class="control-label col-sm-3 col-md-4" for="username">Username:</label>
            <div class="col-sm-6 col-md-4">
                <input type="text" class="form-control" id="username" name="username">
            </div>
            <div class="col-sm-3 col-md-4"></div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3 col-md-4" for="password">Password:</label>
            <div class="col-sm-6 col-md-4">
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="col-sm-3 col-md-4"></div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3 col-md-4" for="confirmpassword">Confirm Password:</label>
            <div class="col-sm-6 col-md-4">
                <input type="password" class="form-control" name="confirmpassword">
            </div>
            <div class="col-sm-3 col-md-4"></div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3 col-md-4" for="mobilenumber">Mobile Number:</label>
            <div class="col-sm-6 col-md-4">
                <input type="text" class="form-control" id="mobilenumber" name="mobilenumber">
            </div>
            <div class="col-sm-3 col-md-4"></div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-10 col-md-offset-4 col-md-4">
                <button type="button" class="btn btn-default" id="btnRegister">Create Account</button>
            </div>
        </div>
    </form>
</div>

<label id="lblSuccess"></label>

<script>
    $("#btnRegister").click(function () {
        Register();
    });
    function Register() {
        var Data = {
            Username: $("#username").val(),
            Password: $("#password").val(),
            MobileNumber: $("#mobilenumber").val()
        }
        $.ajax({
            url: '@Url.Action("Register")',
            data: Data,
            typr: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (result) {
                $("#lblSuccess").html("");
                $("#lblSuccess").append(result);
            }
        });
    }
</script>
